<!DOCTYPE html>{% load static %}
<html>
<head>
  <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}WarpZone{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <!-- <link rel="manifest" href="/site.webmanifest"> -->
  <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <style>
    .v-navigation-drawer__content .v-btn {
      display: flex !important;
      align-items: center;
    }

    table td {
      font-size:  90% !important;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer
        v-model="drawer"
        mobile-breakpoint="0"
        app
        class="pt-4"
        color="primary"
        mini-variant
      >
        <v-btn class="d-block text-center mx-auto mb-9" fab small color="accent" href="/">
          <img src="{% static 'worlds/pipe.png' %}" style="width: 32px;"/>
        </v-btn>
        <v-btn class="d-block text-center mx-auto mb-9" fab small color="primary" href="/worlds/jobs/">
          <v-icon class="mdi mdi-format-list-bulleted"></v-icon>
        </v-btn>
        <v-btn class="d-block text-center mx-auto mb-9" fab small color="primary" href="/worlds/pipelines/">
          <v-icon class="mdi mdi-pipe"></v-icon>
        </v-btn>
      </v-navigation-drawer>
      <v-main>
        {% block content %}{% endblock %}
      </v-main>
    </v-app>
  </div>
  <script src="//cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  {% block mixin %}
  <script>
    var MIXIN = null;
  </script>
  {% endblock %}
  {% block mixins %}
  <script>
    var MIXINS = [];
    if (MIXIN) {
      MIXINS = [MIXIN]
    }
  </script>
  {% endblock %}
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      mixins: MIXINS,
      data() {
        return {
          drawer: true
        };
      }
    })
  </script>
</body>
</html>
