{% extends 'worlds/base.html' %}{% load worlds_tags %}
{% block title %}Start A Job | {{ block.super }}{% endblock %}
{% block content %}
<form action="/" method="POST">
  {% csrf_token %}
  <v-card class="mx-auto my-12" max-width="800">
    <v-card-title>Start A Job</v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-text-field label="Image" name="image" outlined required v-model="image"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="Command" name="command" outlined required v-model="command"></v-text-field>
        </v-row>
        <v-row>
          <v-select :items="pipelines" label="Pipeline" outlined name="pipeline" v-model="pipeline"></v-select>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-btn color="primary" type="Submit">Start</v-btn>
    </v-card-actions>
  </v-card>
</form>
{% endblock %}
{% block mixin %}
<script>
  var MIXIN = {
    data() {
      var params = new URLSearchParams(location.search);
      return {
        pipelines: {{ pipelines|json_data }},
        pipeline: parseInt(params.get('pipeline') || '0'),
        image: params.get('image') || '',
        command: params.get('command') || ''
      };
    },
    mounted() {
      if (this.pipelines.length && !this.pipeline) {
        this.pipeline = this.pipelines[this.pipelines.length - 1].value;
      }
    }
  };
</script>
{% endblock %}
