{% extends 'worlds/base.html' %}{% load worlds_tags %}
{% block title %}Warming Up | {{ block.super }}{% endblock %}
{% block content %}
<form action="./" method="POST">
  {% csrf_token %}
  <input type="hidden" name="pipeline" value="{{ pipeline }}">
  <input type="hidden" name="image" value="{{ image }}">
  <input type="hidden" name="envs" value="{{ envs }}">
  <v-card class="mx-auto my-12" max-width="800">
    <v-card-title>Warming Up Your Cluster Before Starting ...</v-card-title>
    <v-card-text>
      <v-container>
        <v-row class="justify-center">
          <v-progress-circular indeterminate color="primary" :size="70"></v-progress-circular>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</form>
{% endblock %}
{% block mixin %}
<script>
  var MIXIN = {
    data() {
      return {};
    },
    mounted() {
      setTimeout(() => {
        document.querySelector('form').submit();
      }, 30 * 1000);
    }
  };
</script>
{% endblock %}
